extends includes/layout
block head
  - var titleSuffix = "About"

block content
  include includes/header-subpage
  main
    section.section.subpage
      .container
        .columns
          .column.is-6
            .is-page-left
              h1 About Us
              .feature-content
                p.large(data-aos='fade-right', data-aos-delay='100')
                  | Wild Willy's was formed to provide quality casino gaming for a variety of event types.  Our commitment to quality helps position ourselves as a premiere casino gaming option in the Tri-State area.
                p.large(data-aos='fade-right', data-aos-delay='200')
                  | At Wild Willy's, we Guarantee THE BEST QUALITY possible in event coordination, equipment, professionalism and commitment to ensuring your guests have a great time at your event

              h2.mb-30(data-aos='fade-up', data-aos-delay='300') What Set's Us Apart
              .feature-content(data-aos='fade-right', data-aos-delay='300')
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | Highest Quality Equipment
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | Superior Customer Support
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | Professional Trained Dealers
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | No Event Too Large or Small
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | Fully Licensed and Insured

          .column.is-6
            .mb-20.pt-50
              img(src='/img/about-wild-willys.jpg', data-aos='fade-left', data-aos-delay='100')

        h2 Event Photos
        .columns
          .column.is-3
            a(data-fslightbox href='/img/aboutus-1.jpg')
              img(src='/img/aboutus-1.jpg')
          .column.is-3
            a(data-fslightbox href='/img/aboutus-4.jpg')
              img(src='/img/aboutus-4.jpg')
          .column.is-3
            a(data-fslightbox href='/img/aboutus-2.jpg')
              img(src='/img/aboutus-2.jpg')
          .column.is-3
            a(data-fslightbox href='/img/aboutus-3.jpg')
              img(src='/img/aboutus-3.jpg')
        .mt-10.has-text-centered
          a.button.is-primary(href='/gallery') View Gallery

    section.section.is-alt.is-contact
      include includes/contact-form.pug
