extends includes/layout
block head
  - var titleSuffix = "Contact"

block content
  include includes/header-subpage
  main
    section.section.subpage
      .container.m
        .columns
          .column.is-6
            h1.mb-10 Contact
          .column.has-text-right.has-text-left-mobile

        .mt-20
          include includes/contact-form.pug