extends includes/layout
block head
  - var titleSuffix = "Corporate Casino Parties"

block content
  include includes/header-subpage
  main
    section.section.subpage
      .container
        .columns
          .column.is-6
            .is-page-left
              h1 Corporate Parties
              p.large(data-aos='fade-right', data-aos-delay='100')
                | Show appreciation to your employees and associates with Action Packed Gaming that will make your corporate event a night to remember.
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-6.has-no-descriptions
                    h4.single Holiday Celebration
                    h4.single Employee Recognition
                    h4.single(style='margin-bottom: 15px;') Customer Appreciation
                  .column.is-6.has-no-descriptions
                    h4.single Team Building
                    h4.single Vendor Appreciation
          .column.is-5.is-offset-1
            .mb-20
              img(src='img/section-fundraisers.png', data-aos='fade-left', data-aos-delay='100')

        h2 Event Photos
        .columns
          .column.is-3
            img(src='https://via.placeholder.com/400x300')
          .column.is-3
            img(src='https://via.placeholder.com/400x300')
          .column.is-3
            img(src='https://via.placeholder.com/400x300')
          .column.is-3
            img(src='https://via.placeholder.com/400x300')
        .mt-10.has-text-centered
          a.button.is-primary(href='/gallery') View Gallery

    section.section.is-alt.is-contact
      include includes/contact-form.pug