extends includes/layout
block head
  - var titleSuffix = "FAQ"
block content
  include includes/header-subpage
  main
    section.section
      .container
        h1 Frequently Asked Questions
        p.large.mb-30 Still Have Questions? Call <strong>(732) 690-8324</strong> or <a href='index.html#contact'>Contact Us Online</a>
        .columns
          .column.is-6
            .faq-container
              .faq
                .question Are the Casino Table photo's the actual tables that will be used at my party?
                .answer Yes! Unlike most websites, all photos are our actual equipment. What you see is what you will get.
              .faq
                .question Do you provide full party planning?
                .answer Yes of course! We are a full service event company. We can help you from decorations to locations. We are here to make the planning process easy so you can enjoy your event along with your guests.
              .faq
                .question Is Tipping Appropriate?
                .answer The dealers at your casino party are service people just like waiters, photographers, dj’s and bartenders. They provide a service for you just as they would in an actual casino and tipping is generally based on the level of that service. Unlike an actual casino, the chips have no cash value and therefore players cannot use them to tip dealers. It becomes the responsibility of the host, just as at a large dinner party at a restaurant, to tip the dealers. It is common place for guests to tip based on their level of enjoyment at the table. Our Dealers will at no time ask or solicite tips, as it is unprofessional to do so.
              .faq
                .question Do you subcontract out your services to other casino event companies?
                .answer Absolutely not, we are not like most of the other companies out there. Our equipment was made and designed specifically for us. When you hire us that is who you get.
              .faq
                .question Are Casino Parties Legal?
                .answer Yes! We provide Casino Party Entertainment for fun purposes only.
              .faq
                .question Is there a minimum age requirement for event guests?
                .answer There is no minimum age requirement for guests.  All events are for entertainment purposes only. We often host “Sweet Sixteens” as well as “Bar mitzvahs”, “Graduations” and “Post Prom Parties”.
              .faq
                .question Are security deposits required for your equipment rentals?
                .answer We only require security deposits in the event of our equipment being rented out in the absence of dealers or a pit boss.
              .faq
                .question How do I book my date with Wild Willy's and when is payment required?
                .answer Simply call or email our office with your preferred date and gaming package. Once a contract is signed, 50% deposit is required to secure the date, equipment, and dealers. Final payments are due by the close of the event.
          .column.is-6
            .faq-container
              .faq
                .question What areas do you serve?
                .answer We serve all of New Jersey, New York, and Connecticut. If your event falls outside these areas, we may still be able to accommodate you.
              .faq
                .question What is your cancellation policy?
                .answer There is no cancellation charge as long as your party is cancelled 20 days in advance so that we may book another event. If you are holding an event outdoors and there is inclement weather, we will gladly change your date with no charge to you. Refunds can take up to 8 weeks to return. Any special ordered items will not be refunded
              .faq
                .question How many tables should I book for my event?
                .answer For fundraising events, tables should be provided to accommodate 70% of the guests. For specialty parties we suggest that tables should be provided to accommodate a minimum of 50% of the guests.
              .faq
                .question How long do you usually deal at the Events?
                .answer Typically an event lasts 4 hours, giving you plenty of gaming. If you want to game for longer than 4 hours, there is an extra fee.
              .faq
                .question How does a typical event go?
                .answer We give you the “funny money” that comes in fake $ bills. You hand that out to your guests who in turn “cash in” for chips at the gaming tables with it. At the end of the night guests simply turn the chips back in to the dealer, or “bank”, for raffle tickets or for winning totals. For Fundraisers a bank is usually setup for guests to donate money for additional chips.
              .faq
                .question What are my options on ending the night?
                .answer For fundraisers it is legal to end the night with a raffle system. The guest turn in their chips for raffle tickets and you can then raffle off prizes. This way everyone gets a chance to win no matter how good or bad they did at the tables. Specialty parties can have prizes for top “money” winners.
              .faq
                .question How does the equipment set-up and breakdown work?
                .answer We have the set up down to a science and usually only needs to be there about an hour before the event. We ask that a contact name and number be provided so that we properly arrange delivery and setup. When the event is over, we will take their equipment and leave just as fast as we set-up. If event needs to be set earlier we need to know.
              .faq
                .question What other services can you provide?
                .answer We are a full service Event company. We offer all gaming equipment as well as any additional gaming decorations such as personalized chips, funny money, cards. We offer a wide array of services. Click on our Services tab for a full list services.
