extends includes/layout
block head
  - var titleSuffix = "Gallery"
block content
  include includes/header-subpage
  main
    section.section
      .container
        h1 Gallery
        #instafeed.instafeed-gallery
          .instafeed-loading.loading-dots
            | Loading Instagram Photos
            span .
            span .
            span .
  script.
    useGallery = true;
