extends includes/layout

block head
  - var titleSuffix = "Gallery"
block content
  include includes/header-subpage
  main
    section.section.subpage
      .container
        .subpage-heading
          .columns
            .column
              h1.mb-0 Gallery
            .column.has-text-right.has-text-left-mobile
              a.instagram-lnk(href='https://www.instagram.com/wildwillysparty/', target='_blank')
                img(src='img/icon-instagram.png')
                span.follow Follow Us
                span.username @wildwillysparty
        #instafeed.instafeed-gallery
          .instafeed-loading.loading-dots
            | Loading Instagram Photos
            span .
            span .
            span .
  script.
    useGallery = true;

