extends includes/layout
block head
  - var titleSuffix = "Gallery"
block content
  include includes/header-subpage
  main
    section.section
      .container
        h1 Gallery
        p [instagram gallery]