extends includes/layout
block content
  include includes/header-homepage
  main
    section.section.summary#whatwedo
      .container
        .columns
          .column.is-4
            .summaries(data-aos='fade-up', data-aos-delay='0')
              .summary-block
                img(src='img/icon-poker.png')
                h3 Poker Tournaments
                p Professional Tables with Dealers to accomodate up to 200 players
              .summary-block
                img(src='img/icon-corporate.png')
                h3 Corporate Parties
                p Give your workers a unique casino experience they deserve
          .column.is-4
            .summaries(data-aos='fade-up', data-aos-delay='200')
              .summary-block
                img(src='img/icon-fundraisers.png')
                h3 Fundraisers
                p Our fundraising specialists will make your fundraiser a success
              .summary-block
                img(src='img/icon-private.png')
                h3 Private Parties
                p Our friendly dealers will teach your guests how to play
          .column.is-4
            .summary-list(data-aos='fade-up', data-aos-delay='400')
              h2.mb-25.has-text-centered-mobile We Do It All For You
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | We Bring The Casino To You
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | Learn How To Plays
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | We customize your event to your needs to deliver a night to remember
              p.large-bullet
                img.bullet(src='img/icon-bullet.png')
                | We can accomodate events of all sizes - Big or Small

        .has-text-centered.mt-10
          .social(data-aos='fade', data-aos-delay='500')
            .social-heading Get in touch & stay up to date
            .social-icons
              a(href='https://twitter.com/', target='_blank')
                img(src='img/icon-twitter.png')
              a(href='https://www.facebook.com/', target='_blank')
                img(src='img/icon-instagram.png')
              a(href='https://www.instagram.com/', target='_blank')
                img(src='img/icon-facebook.png')
    section.section.is-feature#poker-tournaments
      .container
        .columns
          .column.is-6
            img(src='img/section-poker.png', data-aos='fade-right', data-aos-delay='100')
          .column.is-6
            .is-feature-right
              h2(data-aos='fade-up', data-aos-delay='0') Texas Hold'em Poker Tournaments
              p.large(data-aos='fade-left', data-aos-delay='100')
                | Large professional 8' Tables with Dealers, 14 gram chips with Standard Casino Colors and Denominations, all accessories and a Tournament Director
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-5
                    h3 Tournaments For:
                    .content
                      ul
                        li Private
                        li Fundraisers
                        li Corporate
                        li Bars
                        li Leagues
                        li & More ...
                  .column.is-7
                    h4 Professional Dealers
                    p.small Need a short description here describing this heading
                    h4 High quality tables, chips and cards
                    p.small Need a short description here describing this heading
                    h4 We do it all for you!
                    p.small Need a short description here describing this heading
    section.section.is-feature.is-alt#fundraiasers
      .container
        .columns
          .column.is-6
            .is-feature-left
              h2(data-aos='fade-up', data-aos-delay='0') Fundraisers
              p.large(data-aos='fade-right', data-aos-delay='100')
                | We are the fastest growing company in the state with high quality equipment, reasonable prices, the best fundraising ideas to help raise additional money
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-5
                    h3 Raise Money For:
                    .content
                      ul
                        li PTA
                        li School
                        li Church
                        li Football
                        li Cheerleader
                        li Soccer
                        li Benefits
                        li & More ...
                  .column.is-7
                    h4 Raising Money Is Our Game
                    p.small Our fundraising specialists will make your fundraiser a success
                    h4 Learn How To Play
                    p.small Our professional & friendly dealers will teach your guests how to play
                    h4 We Bring The Casino To You
                    p.small Choose the venue and we'll do everything for you!
          .column.is-6
            img(src='img/section-fundraisers.png', data-aos='fade-left', data-aos-delay='100')
    section.cta.has-text-centered
      h2(data-aos='fade-up', data-aos-delay='0') Ready For An Exciting Casino Experience?
      .cta-block
        .columns
          .column.is-5.has-text-right-desktop-only
            a.button.is-primary(href='index.html#contact', data-scrollid='contact') Get Started
          .column.is-1.is-hidden-mobile
            .or OR
          .column.is-6.has-text-left-desktop-only.is-hidden-mobile
            .ask-cta.mb-5 CALL NOW - Ask About Our House Party Packages
            .phone-cta (732) 690-8324
    section.section.is-feature#corporate-parties
      .container
        .columns
          .column.is-6
            img(src='img/section-corporate.png', data-aos='fade-right', data-aos-delay='100')
          .column.is-6
            .is-feature-right
              h2(data-aos='fade-up', data-aos-delay='0') Corporate Parties
              p.large(data-aos='fade-left', data-aos-delay='100')
                | Show appreciation to your employees and associates with Action Packed Gaming that will make your corporate event a night to remember.
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-6.has-no-descriptions
                    h4 Holiday Celebration
                    h4 Employee Recognition
                    h4 Customer Appreciation
                  .column.is-6.has-no-descriptions
                    h4 Team Building
                    h4 Vendor Appreciation
    section.section.is-feature.is-alt#private-parties
      .container
        .columns
          .column.is-6
            .is-feature-left
              h2(data-aos='fade-up', data-aos-delay='0') Private Parties
              p.large(data-aos='fade-right', data-aos-delay='100')
                | Have a casino themed party customized to accomodate your needs.
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-5
                    h3 Popular For:
                    .content
                      ul
                        li Birthdays
                        li Holiday Celebrations
                        li Bar/Bat Mitzvah's
                        li Graduations/Proms
                        li Sweet 16's
                        li House/Patio/Yard
                        li Weddings/Engagements
                        li Bachelor/Bachelorette
                        li & More ...
                  .column.is-7
                    h4 Make Your House Party a Smashing Success
                    p.small Need content for this section
                    h4 We Bring The Casino To You
                    p.small Our professional & friendly dealers will teach your guests how to play
                    h4 Personalized Money
                    p.small Choose the venue and we'll do everything for you!
                    p.highlight Ask about our House Party Packages
          .column.is-6
            img(src='img/section-private.png', data-aos='fade-left', data-aos-delay='100')

    section.section#about
      .container
        .columns
          .column.is-6
            h2(data-aos='fade-up', data-aos-delay='0') About Wild Willy's
            .feature-content(data-aos='fade', data-aos-delay='200')
              p.large
                | Wild Willy's was formed to provide quality casino gaming for a variety of event types.  Our commitment to quality helps position ourselves as a premiere casino gaming option in the Tri-State area.
              p.large
                | At Wild Willy's, we Guarantee THE BEST QUALITY possible in event coordination, equipment, professionalism and committment to ensuring your guests have a great time at your event
          .column.is-6
            h2(data-aos='fade-up', data-aos-delay='0') What Set's Us Apart
            .feature-content(data-aos='fade', data-aos-delay='200')
              .content
                ul
                  li Highest Quality Equipment
                  li Superior Customer Support
                  li Professional Trained Dealers
                  li No Event Too Large or Small

    section.section.is-alt.is-contact#contact
      .container
        .columns
          .column.is-6
            iframe(src='https://docs.google.com/forms/d/e/1FAIpQLScc1UiD2FVJ8vnvg0Uhhm5ZLn_mIG5vZbfL4dZXtNbHiM5mOQ/viewform?embedded=true', width='640', height='1050', frameborder='0', marginheight='0', marginwidth='0' style='height:1050px;') Loading...
          .column.is-3
            .feature-content(data-aos='fade-up', data-aos-delay='100')
              h2 Phone
              .contact
                img(src='img/icon-phone.png')
                span (732) 690-8324
              p
                | Sun - Thurs: 9am-9pm
                br
                | Fri & Sat: 9am-4pm
              p
                | If we don't pickup, please leave a brief message with details of your event, we'll respond asap.
          .column.is-3
            .feature-content(data-aos='fade-up', data-aos-delay='400')
              h2 Email
              .contact
                img(src='img/icon-mail.png')
                span wildwillyscasino@gmail.com
              p.has-text-black.mb-5 Please include in your email:
              .content
                ul
                  li Event Date
                  li Event Type (private, fundraiser, poker, corporate. etc)
                  li Event Location (City, State, at a minimum)
                  li Number of Expected Guests
                  li Budget
                  li Phone Number
    script.
      useScrollTo = true;