extends includes/layout

block content
  include includes/header-homepage
  main
    section.section.summary.is-alt#whatwedo
      .container
        .columns
          .column.is-8
            .columns
              .column.is-6
                .summaries(data-aos='fade-up', data-aos-delay='0')
                  a.summary-block.summary-first(href='index.html#poker-tournaments', data-scrollid='poker-tournaments')
                    img(src='img/icon-poker.png')
                    h3 Poker Tournaments
                    p.mb-0 Professional Tables with Dealers to accommodate up to 200 players
                  a.summary-block(href='index.html#corporate-parties', data-scrollid='corporate-parties')
                    img(src='img/icon-corporate.png')
                    h3 Corporate Parties
                    p.mb-0 Give your workers a unique casino experience they deserve
                  a.summary-block.is-hidden-mobile(href='photo-booth.html')
                    img(src='img/icon-photos.png' style='width: 67px;')
                    h3 Photo Booths
                    p.mb-0 Capture priceless memories for your guests and event with a customized photo booth experience
              .column.is-6
                .summaries(data-aos='fade-up', data-aos-delay='200')
                  a.summary-block(href='index.html#fundraisers', data-scrollid='fundraisers')
                    img(src='img/icon-fundraisers.png')
                    h3 Fundraisers
                    p.mb-0 Our fundraising specialists will make your fundraiser a success
                  a.summary-block(href='index.html#private-parties', data-scrollid='private-parties')
                    img(src='img/icon-private.png')
                    h3 Private Parties
                    p.mb-0 Our professional & friendly dealers will teach your guests how to play
                  a.summary-block.is-hidden-desktop(href='photo-booth.html')
                    img(src='img/icon-photos.png' style='width: 67px;')
                    h3 Photo Booths
                    p.mb-0 Capture priceless memories for your guests and event with a customized photo booth experience

            .summaries.mt-20(data-aos='fade-up', data-aos-delay='200')
              h3.mb-20(style='font-size: 22px;') Choose From All The Popular Casino Games
              .columns
                .column.is-4.has-text-centered
                  img.icon-games(src='img/icon-games@2x.png')
                .column.is-8
                  .columns.games-condensed
                    .column.is-6.has-text-left
                      p.large.mb-10 Blackjack
                      p.large.mb-10 Craps
                      p.large.mb-10 Texas Hold'em
                      p.large.mb-10 Roulette
                      p.large.mb-10.no-margin-mobile Slots
                    .column.is-6.has-text-left
                      p.large.mb-10 Let It Ride
                      p.large.mb-10 Money Wheel
                      p.large.mb-10 Caribbean Stud
                      p.large.mb-10 3 Card Poker
                      p.large.mb-10 & More ...

          .column.is-4
            .summary-list(data-aos='fade-up', data-aos-delay='400')
              h2.mb-25.has-text-centered-mobile We Do It All For You
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | We bring the casino to you
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | Our professional & friendly dealers will teach your guests how to play
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | We customize your event to your needs to deliver a night to remember
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | We accommodate events of all sizes - big or small
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | Free play money personalized for your event
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | Create lasting memories with a <a href="photo-booth.html" class="has-text-weight-semibold is-underline">Photo Booth</a>

    section.section.is-feature#poker-tournaments(style='padding-top:3rem')
      .container
        .has-text-centered.mb-40
          .social(data-aos='fade', data-aos-delay='100')
            .social-heading Get in touch & stay up to date
            .social-icons
              a(href='https://twitter.com/WildWillysParty', target='_blank')
                img(src='img/icon-twitter.png')
              a(href='https://www.instagram.com/wildwillysparty/', target='_blank')
                img(src='img/icon-instagram.png')
              a(href='https://www.instagram.com/', target='_blank')
                img(src='img/icon-facebook.png')
        .columns
          .column.is-6
            img(src='img/section-poker2.png', data-aos='fade-right', data-aos-delay='100')
          .column.is-6
            .is-feature-right
              h2(data-aos='fade-up', data-aos-delay='0') Texas Hold'em Poker Tournaments
              p.large(data-aos='fade-left', data-aos-delay='100')
                | Large professional 8' Tables with Dealers, 14 gram chips with Standard Casino Colors and Denominations, all accessories and a Tournament Director
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-5
                    h3 Tournaments For:
                    .content
                      ul
                        li Private
                        li Fundraisers
                        li Corporate
                        li Bars
                        li Leagues
                        li & More ...
                  .column.is-7
                    h4.single Accommodate any size event
                    h4.single Professional Dealers
                    h4.single High quality tables, chips and cards
                    h4.single We do it all for you!
    section.section.is-feature.is-alt#fundraisers
      .container
        .columns
          .column.is-6
            .is-feature-left
              h2(data-aos='fade-up', data-aos-delay='0') Fundraisers
              p.large(data-aos='fade-right', data-aos-delay='100')
                | We are the fastest growing company in the state with high quality equipment, reasonable prices, the best fundraising ideas to help raise additional money
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-5
                    h3 Raise Money For:
                    .content
                      ul
                        li Charity Events
                        li Non-Profit Organizations
                        li PTA
                        li School
                        li Church
                        li Sports Teams
                        li Benefits
                        li & More ...
                  .column.is-7
                    h4 Raising Money Is Our Game
                    p.small Our fundraising specialists will make your fundraiser a success
                    h4 Learn How To Play
                    p.small Our professional & friendly dealers will teach your guests how to play
                    h4 We Bring The Casino To You
                    p.small Choose the venue and we'll bring the fun!
          .column.is-6
            img(src='img/section-fundraisers.png', data-aos='fade-left', data-aos-delay='100')
    section.cta.has-text-centered
      h2(data-aos='fade-up', data-aos-delay='0') Ready For An Exciting Casino Experience?
      .cta-block
        .columns
          .column.is-5.has-text-right-desktop-only
            .pt-5
              a.button.is-primary(href='index.html#contact', data-scrollid='contact') Get Started
          .column.is-2.is-hidden-mobile
            .pt-5
              .or OR
          .column.is-5.has-text-left-desktop-only.is-hidden-mobile
            .ask-cta.mb-5 CALL NOW
            .phone-cta (732) 690-8324
    section.section.is-feature#corporate-parties
      .container
        .columns
          .column.is-6
            img(src='img/section-corporate.png', data-aos='fade-right', data-aos-delay='100')
          .column.is-6
            .is-feature-right
              h2(data-aos='fade-up', data-aos-delay='0') Corporate Parties
              p.large(data-aos='fade-left', data-aos-delay='100')
                | Show appreciation to your employees and associates with Action Packed Gaming that will make your corporate event a night to remember.
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-6.has-no-descriptions
                    h4.single Holiday Celebration
                    h4.single Employee Recognition
                    h4.single(style='margin-bottom: 15px;') Customer Appreciation
                  .column.is-6.has-no-descriptions
                    h4.single Team Building
                    h4.single Vendor Appreciation
    section.section.is-feature.is-alt#private-parties
      .container
        .columns
          .column.is-6
            .is-feature-left
              h2(data-aos='fade-up', data-aos-delay='0') Private Parties
              p.large(data-aos='fade-right', data-aos-delay='100')
                | Have a casino themed party customized to accommodate your needs.
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-5
                    h3 Popular For:
                    .content
                      ul
                        li Birthdays
                        li Holiday Celebrations
                        li Bar/Bat Mitzvah's
                        li Graduations/Proms
                        li Sweet 16's
                        li House/Patio/Yard
                        li Weddings/Engagements
                        li Bachelor/Bachelorette
                        li & More ...
                  .column.is-7
                    h4.single Make Your House Party a Smashing Success
                    h4.single A Casino theme party is an exciting way to entertain your guests
                    h4 We Bring The Casino To You
                    p.small Our professional & friendly dealers will teach your guests how to play
                    h4 Ask About Our House Party Packs!
          .column.is-6
            img(src='img/section-private.png', data-aos='fade-left', data-aos-delay='100')

    section.section#about
      .container
        .columns
          .column.is-6
            .is-feature-left
              h2.mb-30(data-aos='fade-up', data-aos-delay='0') About Wild Willy's
              .feature-content(data-aos='fade-right', data-aos-delay='200')
                p.large
                  | Wild Willy's was formed to provide quality casino gaming for a variety of event types.  Our commitment to quality helps position ourselves as a premiere casino gaming option in the Tri-State area.
                p.large
                  | At Wild Willy's, we Guarantee THE BEST QUALITY possible in event coordination, equipment, professionalism and commitment to ensuring your guests have a great time at your event
          .column.is-6
            .is-feature-right
              h2.mb-30(data-aos='fade-up', data-aos-delay='0') What Set's Us Apart
              .feature-content(data-aos='fade-left', data-aos-delay='200')
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | Highest Quality Equipment
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | Superior Customer Support
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | Professional Trained Dealers
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | No Event Too Large or Small
                p.large-bullet.mb-20
                  img.bullet(src='img/icon-bullet.png')
                  | Fully Licensed and Insured

    section.section.is-alt.is-contact#contact
      .container
        .columns
          .column.is-6.is-form
            iframe(src='https://docs.google.com/forms/d/e/1FAIpQLScc1UiD2FVJ8vnvg0Uhhm5ZLn_mIG5vZbfL4dZXtNbHiM5mOQ/viewform?embedded=true', width='640', height='1090', frameborder='0', marginheight='0', marginwidth='0' style='height:1090px;') Loading Contact Form...
          .column.is-3.is-content
            .feature-content(data-aos='fade-up', data-aos-delay='100')
              h2 Phone
              .contact
                img(src='img/icon-phone.png')
                span (732) 690-8324
              p
                | Sun - Thurs: 9am-9pm
                br
                | Fri & Sat: 9am-4pm
              p
                | If we don't pickup, please leave a brief message with details of your event, we'll respond asap.

              h2 Address
              p.mb-10
                | 4B Old Colonial Rd
                br
                | Middletown, NJ 07748
              p
                a(href='https://goo.gl/maps/vSLHY7yZ5xsaiJju8' target='_blank') View on Google Maps

          .column.is-3.is-content
            .feature-content(data-aos='fade-up', data-aos-delay='400')
              h2 Email
              .contact
                img(src='img/icon-mail.png')
                span wildwillyscasino@gmail.com
              p.has-text-black.mb-5 Please include in your email:
              .content
                ul
                  li Event Date
                  li Event Type (private, fundraiser, poker, corporate. etc)
                  li Event Location (City, State, at a minimum)
                  li Number of Expected Guests
                  li Budget
                  li Phone Number
    script.
      useScrollTo = true;

    script(type='application/ld+json').
      {
      "@context": "http://schema.org/",
      "@type": "Organization",
      "url": "http://www.wildwillyscasino.com/",
      "logo": "http://www.wildwillyscasino.com/img/wildwillys-logo.png"
      }