extends includes/layout
block head
  - var titleSuffix = "Rent Photo Booth - NJ NY CT"

block content
  include includes/header-subpage
  main
    section.section
      .container
        h1 Photo Booth Rental
        p.large.mb-40 Still Have Questions? Call <strong>(732) 690-8324</strong> or <a href='index.html#contact'>Contact Us Online</a>
        .columns
          .column.is-6

          .column.is-6
