extends includes/layout
block head
  - var titleSuffix = "Rent Photo Booth - NJ NY CT"

block content
  include includes/header-subpage
  main
    section.section.subpage
      .container
        .columns
          .column.is-6
            h1 Custom Photo Booth Experiences For Your Events & Parties
            p.large(data-aos='fade-right', data-aos-delay='100') A photo booth is the attraction you need to liven up your next celebration. Your photo booth includes: unlimited photos, onsite printing, fun & exciting props, and a digital copy of all photos after the event - view all the fun your guests had!!
            p.large(data-aos='fade-right', data-aos-delay='200') We also offer Custom Photo Layouts & Branding with unlimited customization options so your photo booth rental is guaranteed to be one of a kind.
            div(data-aos='fade', data-aos-delay='300')
              h2.mb-25.has-text-centered-mobile Photo Booths Include:
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | Custom Designed Photo Templates to match your Event or Company's Branding
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | On-site Personnel to assist your guests with their experience
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | Exciting Props to let your guests express themselves in a fun environment
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | DSLR Cameras and HD Printers to provide the highest quality customized photos, printed instantly for your guests
              p.large-bullet.mb-20
                img.bullet(src='img/icon-bullet.png')
                | Copy of all your event's photos on a USB Stick
          .column.is-6
            .mb-20
              img(src='https://via.placeholder.com/600x500/?text=Coming%20Soon', data-aos='fade-left', data-aos-delay='100')

        h2 Event Photos
        .columns
          .column.is-3
            a(data-fslightbox href='/img/wildwillys-photobooth-2.jpg')
              img(src='/img/wildwillys-photobooth-2.jpg')
          .column.is-3
            a(data-fslightbox href='/img/wildwillys-photobooth-3.jpg')
              img(src='/img/wildwillys-photobooth-3.jpg')
          .column.is-3
            a(data-fslightbox href='/img/wildwillys-photobooth-1.jpg')
              img(src='/img/wildwillys-photobooth-1.jpg')
          .column.is-3
            a(data-fslightbox href='/img/wildwillys-photobooth-4.jpg')
              img(src='/img/wildwillys-photobooth-4.jpg')
        .mt-10.has-text-centered
          a.button.is-primary(href='/gallery') View Gallery

    section.section.is-alt.is-contact
          include includes/contact-form.pug


