extends includes/layout
block head
  - var titleSuffix = "Rent Photo Booth - NJ NY CT"

block content
  include includes/header-subpage
  main
    section.section.subpage
      .container
        .columns
          .column
            h1.mb-10 Photo Booth
          .column.has-text-right.has-text-left-mobile
        .columns
          .column.is-6
            p Coming Soon...
          .column.is-6
            p &nbsp;
