extends includes/layout
block head
  - var titleSuffix = "Private Casino Parties"

block content
  include includes/header-subpage
  main
    section.section.subpage
      .container
        .columns
          .column.is-6
            .is-page-left
              h1 Private Parties
              p.large(data-aos='fade-right', data-aos-delay='100')
                | Have a casino themed party customized to accommodate your needs.
              .feature-content(data-aos='fade', data-aos-delay='200')
                .columns
                  .column.is-5
                    h3 Popular For:
                    .content
                      ul
                        li Birthdays
                        li Holiday Celebrations
                        li Bar/Bat Mitzvah's
                        li Graduations/Proms
                        li Sweet 16's
                        li House/Patio/Yard
                        li Weddings/Engagements
                        li Bachelor/Bachelorette
                        li & More ...
                  .column.is-7
                    h4.single Make Your House Party a Smashing Success
                    h4.single A Casino theme party is an exciting way to entertain your guests
                    h4 We Bring The Casino To You
                    p.small Our professional & friendly dealers will teach your guests how to play
                    h4 DJ, Entertainment Host
                    p.small We can provide a DJ ideal for your specific type of party to keep your guests on having fun!
                    h4 Ask About Our House Party Packs!
          .column.is-6
            .mb-20
              img(src='img/section-private2.png', data-aos='fade-left', data-aos-delay='100')

        //h2 Event Photos
        //.columns
        //  .column.is-3
        //    img(src='https://via.placeholder.com/400x300')
        //  .column.is-3
        //    img(src='https://via.placeholder.com/400x300')
        //  .column.is-3
        //    img(src='https://via.placeholder.com/400x300')
        //  .column.is-3
        //    img(src='https://via.placeholder.com/400x300')
        //.mt-10.has-text-centered
        //  a.button.is-primary(href='/gallery') View Gallery

    section.section.is-alt.is-contact
      include includes/contact-form.pug