<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <system.webServer>
      <rewrite>
          <rules>
            <rule name="HTTP to HTTPS redirect" stopProcessing="true">
              <match url="(.*)" />
               <conditions>
                 <add input="{HTTPS}" pattern="off" ignoreCase="true" />
               </conditions>
               <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
             </rule>
             <rule name="URL1" stopProcessing="true">
              <match url="^website_1_002.htm" ignoreCase="true" />
              <action type="Redirect" url="http://www.wildwillyscasino.com/index.html" redirectType="Permanent" />
            </rule>
            <rule name="URL2" stopProcessing="true">
              <match url="^website_1_008.htm" ignoreCase="true" />
              <action type="Redirect" url="faq.html" redirectType="Permanent" />
            </rule>
            <rule name="URL3a" stopProcessing="true">
              <match url="^website_1_003.htm" ignoreCase="true" />
             <action type="Redirect" url="index.html#fundraisers" redirectType="Permanent" />
           </rule>
            <rule name="URL4" stopProcessing="true">
              <match url="^website_1_004.htm" ignoreCase="true" />
              <action type="Redirect" url="index.html#fundraisers" redirectType="Permanent" />
            </rule>
            <rule name="URL5" stopProcessing="true">
              <match url="^website_1_005.htm" ignoreCase="true" />
              <action type="Redirect" url="gallery.html" redirectType="Permanent" />
            </rule>
            <rule name="URL6" stopProcessing="true">
              <match url="^website_1_006.htm" ignoreCase="true" />
              <action type="Redirect" url="index.html#contact" redirectType="Permanent" />
            </rule>
            <rule name="URL7" stopProcessing="true">
              <match url="gallery.html" ignoreCase="true" />
              <action type="Redirect" url="http://www.wildwillyscasino.com/gallery" redirectType="Permanent" />
            </rule>
          </rules>
        </rewrite>

        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="400" />
            <error statusCode="400" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\bad_request.html" />
            <remove statusCode="407" />
            <error statusCode="407" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\proxy_authentication_required.html" />
            <remove statusCode="414" />
            <error statusCode="414" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\request-uri_too_long.html" />
            <remove statusCode="415" />
            <error statusCode="415" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\unsupported_media_type.html" />
            <remove statusCode="503" />
            <error statusCode="503" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\maintenance.html" />
            <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\unauthorized.html" />
            <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\forbidden.html" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\not_found.html" />
            <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\method_not_allowed.html" />
            <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\not_acceptable.html" />
            <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\precondition_failed.html" />
            <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\internal_server_error.html" />
            <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\not_implemented.html" />
            <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\wildwillyscasino.com\error_docs\bad_gateway.html" />
        </httpErrors>

    </system.webServer>
</configuration>
