$footer-background-color: #000 !default;
$footer-padding: 50px 0 50px 0 !default;

$footer-link: #bdc3ca;
$footer-link-hover: #fff;
$footer-head-link: darken($footer-link, 10%);;
$footer-head-link-hover: #4A9B6A;

footer.footer {
  background-color: $footer-background-color;
  padding: $footer-padding;


  //logo
  a.logo {
    display: inline-block;
    max-width: 149px;
    margin: 0 0 1rem 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .footer-flare {
    position: relative;
    padding: 0;
    margin-bottom: 2rem;

    img.brand {
      display: none;
    }
    @include desktop {
      padding: 3rem 0;
      margin-bottom: 0;
      img.brand {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: 0;
        opacity: 0.15;
      }
    }
    .subtitle {
      position: relative;
      z-index: 2;
      margin: 0 auto;
    }
  }
  //subtitle
  .subtitle {
    max-width: 270px;
  }

  //navs
  ul.nav-footer {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;

    li {
      line-height: 2.4em;
      font-size: 1em;
      text-align: center;

      @include desktop {
        text-align: left;
      }

      //link
      a {
        color: $footer-link;
        &:hover, &:active {
          color: $footer-link-hover;
        }
      }
      //header title
      &.head {
        line-height: normal;
        padding: 0 0 2em 0;
        font-size: 1.3em;
        font-weight: 500;
        @include desktop {
          padding: 0 0 20px 0;
        }
        a {
          color: $footer-head-link;
          &:hover, &:active {
            color: $footer-head-link-hover;
          }
        }
      }
    }
  }

  //divider
  hr {
    background-color: #c5c6c7;
    height: 1px;
    margin: 2rem 0;
  }

  //social
  ul.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 12px;
      padding: 0;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: inline-block;
        color: $footer-link;
        font-size: 24px;
        padding: 0 2px;
        &:hover {
          color: $footer-link-hover;
        }
      }
    }
  }

  //contact - div table using .tbl
  .contact-table {
    width: 100%;
    margin-bottom: 30px;
    //override title
    .tbl {
      .tbl-cell.lbl {
        font-size: .9em;
        font-weight: 400;
        color: #999;
        width: 20px;

      }
    }
  }

  //copyright
  .copyright {
    font-size: .9em;
    color: #878C92;
  }

}