// Main container


.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navbar {
    background: none;
  }

  .tabs {
    ul {
      border-bottom: none;
    }
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;

      a:not(.button):not(.dropdown-item):not(.tag),
      strong {
        color: inherit;
      }

      .title {
        color: $color-invert;
      }

      .subtitle {
        color: rgba($color-invert, 0.9);

        a:not(.button),
        strong {
          color: $color-invert;
        }
      }

      .navbar-menu {
        @include touch {
          background-color: $color;
        }
      }

      .navbar-item,
      .navbar-link {
        color: rgba($color-invert, 0.7);
      }

      a.navbar-item,
      .navbar-link {
        &:hover,
        &.is-active {
          background-color: darken($color, 5%);
          color: $color-invert;
        }
      }

      .tabs {
        a {
          color: $color-invert;
          opacity: 0.9;

          &:hover {
            opacity: 1;
          }
        }

        li {
          &.is-active a {
            opacity: 1;
          }
        }

        &.is-boxed,
        &.is-toggle {
          a {
            color: $color-invert;

            &:hover {
              background-color: rgba($black, 0.1);
            }
          }

          li.is-active a {
            &,
            &:hover {
              background-color: $color-invert;
              border-color: $color-invert;
              color: $color;
            }
          }
        }
      }

      // Modifiers
      &.is-bold {
        $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%);
        $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%);

        background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);

        @include mobile {
          .navbar-menu {
            background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);
          }
        }
      }

      // Responsiveness
      // +mobile
      //   .nav-toggle
      //     span
      //       background-color: $color-invert
      //     &:hover
      //       background-color: rgba($black, 0.1)
      //     &.is-active
      //       span
      //         background-color: $color-invert
      //   .nav-menu
      //     .nav-item
      //       border-top-color: rgba($color-invert, 0.2)
   
    }
  }

  // Sizes
  &.is-small {
    .hero-body {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
  }

  &.is-medium {
    @include tablet {
      .hero-body {
        padding-bottom: 9rem;
        padding-top: 9rem;
      }
    }
  }

  &.is-large {
    @include tablet {
      .hero-body {
        padding-bottom: 18rem;
        padding-top: 18rem;
      }
    }
  }

  &.is-halfheight,
  &.is-fullheight,
  &.is-fullheight-with-navbar {
    .hero-body {
      align-items: center;
      display: flex;

      & > .container {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }

  &.is-halfheight {
    min-height: 50vh;
  }

  &.is-fullheight {
    min-height: 100vh;
  }
}

// Components

.hero-video {
  @extend %overlay;
  overflow: hidden;

  .video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 28%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 28%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 28%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 );
  }

  video {
    position: relative;
    left: auto;
    top: auto;
    min-height: 100%;
    min-width: 100%;
    transform: none;
    object-fit: cover;
    z-index: 5;
  }


  // Modifiers
  &.is-transparent {
    opacity: 0.3;
  }

  // Responsiveness
  @include mobile {
    //display: none;
  }
}

.hero-buttons {
  margin-top: 1.5rem;

  // Responsiveness
  @include mobile {
    .button {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }


  @include tablet {
    display: flex;
    justify-content: center;

    .button:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

// Containers

.hero-head,
.hero-foot {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  z-index: 50;


  .hero-title {
    font-size: 40px;
    font-weight:700;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px;
    text-shadow: 0 0 20px rgba(0,0,0,0.80);
    margin-bottom: 30px;
  }
  .hero-subtitle {
    font-size: 24px;
    font-weight:400;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    text-shadow: 0 0 20px rgba(0,0,0,0.80);
    margin-bottom: 20px;
  }
}

.block-check {
  opacity: 1;
  background: #0009;
  border-radius: 25px;
  padding: 15px 12px 15px 37px;
  font-size: 14px;
  color: #dcba7a;
  text-align: center;
  margin: 0 auto 100px auto;
  max-width: 270px;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  z-index: 20;
  .icon-check {
    position: absolute;
    top: 10px;
    left: 13px;
  }
}
