$body-background-color: $white !default;
$body-size: 14px !default;
$body-rendering: optimizeLegibility !default;
$body-family: $family-primary !default;
$body-color: $text !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

$code-family: $family-code !default;
$code-padding: 0.25em 0.5em 0.25em !default;
$code-weight: normal !default;
$code-size: 0.875em !default;

$hr-background-color: $background !default;
$hr-height: 1px !default;
$hr-margin: 1.5rem 0 !default;

$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

html {
  background-color: $body-background-color;
  font-size: $body-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: $body-family;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: $code-family;
}

body {
  color: $body-color;
  font-size: 1rem;
  font-weight: $body-weight;
  line-height: $body-line-height;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  min-height: 400px;
  height: 100%;
  .main-content {
    & > section {
      padding-top: 15px;
    }
  }
}

// Inline

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: all .1s ease-out; //animation

  strong {
    color: currentColor;
  }

  &:hover {
    color: $link-hover;
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      color: $color;
      &:hover {
        color: darken($color, 20%);
      }
    }
  }

  &.is-disabled {
    pointer-events: none;
  }

  &.break {
    overflow-wrap: break-word;
  }
}

a.action {
  background-color: transparent;
  color: darken(#dde0e4, 20%);
  font-size: 1.1rem;

  &:hover {
    color: darken(#dde0e4, 40%);
  }

  &.edit {
    &:hover {

    }
  }
  &.remove {
    &:hover {
      color: $danger;
    }
  }

  &.blocky {
    background-color: #dde0e4;
    color: #888;
    padding: 4px 6px;
    border-radius: 2px;
    &:hover {
      background-color: darken(#dde0e4, 20%);
      color: #fff;
    }
  }
}

.return-container {
  margin-top: 30px;
  margin-bottom: 40px;
}

a.return {
  font-weight: 400;
  font-size: 1rem;
  [class^="iconm-"], [class*=" iconm-"] {
    position: relative;
    top: 1px;
    margin-right: 7px;
  }
}


code {
  background-color: $code-background;
  color: $code;
  font-size: $code-size;
  font-weight: $code-weight;
  padding: $code-padding;
}

hr {
  background-color: $hr-background-color;
  border: none;
  display: block;
  height: $hr-height;
  margin: $hr-margin;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: $strong-color;
  font-weight: $strong-weight;
}

// Block

fieldset {
  border: none;
}

pre {
  @include overflow-touch;

  background-color: $pre-background;
  color: $pre;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
  }

  &.debug {
    font-size: 0.7rem;
    padding: 1rem 1.2rem;
    line-height: 0.7rem;
  }
  &.debug-small {
    font-size: 0.5rem;
    padding: 0.2rem 0.5rem;
    line-height: 0.5rem;
  }
}
.hljs pre {
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  color: inherit;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 0;
  white-space: pre;
  word-wrap: normal;
}

table {
  td,
  th {
    text-align: left;
    vertical-align: top;
  }

  th {
    color: $text-strong;
  }
}


// Section Containers

.section {
  &.summary {
    background-image: linear-gradient(-180deg, #FFFFFF 41%, #F4F5F7 100%);
  }
  &.is-feature {
    padding: 5rem 1.5rem;
  }
  &.is-alt {
    background-color: #F4F5F7;
  }
}


// Typography

h1 {
  &:not(.hero-title) {
    font-size: 34px;
    font-weight: 600;
    color: #29333D;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 500;
  color: #29333D;
  margin-bottom: 15px;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  color: #29333D;
}
h4 {
  font-size: 17px;
  font-weight: 500;
  color: #29333D;
  margin-bottom: 5px;
  &.large {
    font-size: 17px;
    font-weight: 500;
    color: #29333d;
    margin-bottom: 30px;
  }
  &.single {
    line-height: 1.4em;
    margin-bottom: 30px;
  }
}
h4+p.small {
  margin-bottom: 30px;
}

.has-no-descriptions {
  h4 {
    margin-bottom: 40px;
  }
}

p {
  margin-bottom: 25px;
}
p.large-bullet {
  font-size: 18px;
  color: #4b4f56;
  padding-left: 35px;
  position: relative;
}
p.large {
  font-size: 18px;
  color: #7A7F88;
  line-height: 30px;
  margin-bottom: 30px;
}
p.small {
  font-size: 14px;
  color: #7A7F88;
  line-height: 20px;
  margin-bottom: 20px;
}
.bullet {
  position: absolute;
  top: 7px;
  margin-left: -32px;
  width: 14px;
  height: 14px;
}

// Content Defaults
.content {
  ul {
    list-style: disc outside;
    margin-left: 1.4em;
    margin-top: 1em;
    line-height: 1.8em;
    font-size: 1.1em;
  }
}


@include desktop {
  .is-feature-left, .is-feature-right, .is-contact {
    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  .is-feature-left {
    padding-left: 20px;
    padding-right: 60px;
  }
  .is-feature-right {
    padding-left: 60px;
    padding-right: 20px;
  }
  p.large {
  }
  .section.is-contact {
    //padding-bottom: 50px;
  }
}

.highlight {
  font-size: 15px;
  font-weight: 600;
  color: #ec9348;
  line-height: 16px;
}

// Section - Summary

.summary-block {
  padding-left: 85px;
  padding-right: 60px;
  position: relative;
  @include mobile {
    max-width: 90%;
    padding-right: 0;
    margin: 0 auto;
  }
  img {
    position: absolute;
    top: 5px;
    left: 0;
  }
  &+.summary-block {
    margin-top: 40px;
  }
}


// Section - Contact

.contact {
  font-size: 20px;
  font-weight: 700;
  color: #525457;
  line-height: 21px;
  margin-bottom: 20px;
  img {
    position: relative;
    top: 4px;
    margin-right: 10px;
  }
}


// Contact Info

.phone-ask {
  text-align: center;
  margin: 0;
  div {
    margin: 0 auto;
  }
}
@include desktop {
  margin: 0 50px 0 0;
}
.phone {
  font-size: 25px;
  font-weight: 600;
  color: #C8CFD8;
  text-align: center;
}
.phone-cta {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.ask {
  font-size: 14px;
  color: #FFAC66;
  text-align: center;
  line-height: 16px;
  max-width: 150px;
}
.ask-cta {
  font-size: 20px;
  font-weight: 600;
  color: #f99c4e;
  text-align: center;
  line-height: 16px;
  max-width: 230px;
  margin: 0 auto;
}
.or {
  font-size: 20px;
  color: #fff;
  opacity: 0.7;
}

// Social

.social {
  text-align: center;

  .social-heading {
    font-size: 24px;
    color: #4B4F56;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
  }
  .social-heading-small {
    font-size: 14px;
    color: #AFB1B5;
    margin-bottom: 5px;
  }
  .social-icons {
    a {
      margin: 0 10px;
    }
  }
}

// Section - CTA

section.cta {
  background: url('/wildwillys/img/bg-cta.png') #000 no-repeat center 0;
  padding: 40px 0;
  min-height: 100px;
  color: #fff;
  h2 {
    color: #fff;
    margin-bottom: 25px;
  }
}

.cta-block {
  max-width: 580px;
  margin: 0 auto;
}



// Page FAQ

.faq-container {
  margin: 0;
}

.faq {
  margin: 0 0 30px 0;
  @include desktop {
    padding: 0 40px 0 0;
  }
  .question {
    font-size: 1.3em;
    color: $grey-darker;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 5px 0;
  }
  .answer {
    font-size: 1.1em;
    line-height: 1.5;
  }
}


.instafeed-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  a {
    padding: 5px;
    img {
      width: 100%;
      height: auto;
    }
  }


  @media screen and (min-width: 1024px) {
    a {
      width: calc(100%/5);
      height: calc(100%/5);
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    a {
      width: calc(100%/4);
      height: calc(100%/4);
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    a {
      width: calc(100%/3);
      height: calc(100%/3);
    }
  }

  @media screen and (min-width: 321px) and (max-width: 480px) {
    a {
      width: calc(100%/2);
      height: calc(100%/2);
    }
  }

  @media screen  and (max-width: 320px) {
    a {
      width: 100%;
      height: 100%;
    }
  }


}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.instafeed-loading {
  font-size: 18px;
  font-weight: 500;
  color: #cea34b;
}

.loading-dots span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.loading-dots span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.loading-dots span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}