$body-background-color: $white !default;
$body-size: 14px !default;
$body-rendering: optimizeLegibility !default;
$body-family: $family-primary !default;
$body-color: $text !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

$code-family: $family-code !default;
$code-padding: 0.25em 0.5em 0.25em !default;
$code-weight: normal !default;
$code-size: 0.875em !default;

$hr-background-color: $background !default;
$hr-height: 1px !default;
$hr-margin: 1.5rem 0 !default;

$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

html {
  background-color: $body-background-color;
  font-size: $body-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: $body-family;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: $code-family;
}

body {
  color: $body-color;
  font-size: 1rem;
  font-weight: $body-weight;
  line-height: $body-line-height;
}

main {
  min-height: 400px;
  height: 100%;
  .main-content {
    & > section {
      padding-top: 15px;
    }
  }
}

// Inline

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: all .1s ease-out; //animation

  strong {
    color: currentColor;
  }

  &:hover {
    color: $link-hover;
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      color: $color;
      &:hover {
        color: darken($color, 20%);
      }
    }
  }

  &.is-disabled {
    pointer-events: none;
  }

  &.break {
    overflow-wrap: break-word;
  }
}

a.action {
  background-color: transparent;
  color: darken(#dde0e4, 20%);
  font-size: 1.1rem;

  &:hover {
    color: darken(#dde0e4, 40%);
  }

  &.edit {
    &:hover {

    }
  }
  &.remove {
    &:hover {
      color: $danger;
    }
  }

  &.blocky {
    background-color: #dde0e4;
    color: #888;
    padding: 4px 6px;
    border-radius: 2px;
    &:hover {
      background-color: darken(#dde0e4, 20%);
      color: #fff;
    }
  }
}

.return-container {
  margin-top: 30px;
  margin-bottom: 40px;
}

a.return {
  font-weight: 400;
  font-size: 1rem;
  [class^="iconm-"], [class*=" iconm-"] {
    position: relative;
    top: 1px;
    margin-right: 7px;
  }
}


code {
  background-color: $code-background;
  color: $code;
  font-size: $code-size;
  font-weight: $code-weight;
  padding: $code-padding;
}

hr {
  background-color: $hr-background-color;
  border: none;
  display: block;
  height: $hr-height;
  margin: $hr-margin;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: $strong-color;
  font-weight: $strong-weight;
}

// Block

fieldset {
  border: none;
}

pre {
  @include overflow-touch;

  background-color: $pre-background;
  color: $pre;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
  }

  &.debug {
    font-size: 0.7rem;
    padding: 1rem 1.2rem;
    line-height: 0.7rem;
  }
  &.debug-small {
    font-size: 0.5rem;
    padding: 0.2rem 0.5rem;
    line-height: 0.5rem;
  }
}
.hljs pre {
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  color: inherit;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 0;
  white-space: pre;
  word-wrap: normal;
}

table {
  td,
  th {
    text-align: left;
    vertical-align: top;
  }

  th {
    color: $text-strong;
  }
}

// Component Styles

.phone-ask {
  text-align: center;
  margin: 0 50px 0 0;
  div {
    margin: 0 auto;
  }
}
.phone {
  font-size: 25px;
  font-weight: 600;
  color: #C8CFD8;
  text-align: center;
}
.ask {
  font-size: 14px;
  color: #FFAC66;
  text-align: center;
  line-height: 16px;
  max-width: 150px;
}

.social {
  text-align: center;

  .social-heading {
    font-size: 24px;
    color: #4B4F56;
    font-weight: 300;
    letter-spacing: 0.14px;
    text-align: center;
    margin-bottom: 10px;
  }
  .social-heading-small {
    font-size: 14px;
    color: #AFB1B5;
    letter-spacing: 0;
    margin-bottom: 5px;
  }
  .social-icons {
    a {
      margin: 0 5px;
    }
  }
}


.summary-block {
  padding-left: 85px;
  padding-right: 60px;
  position: relative;
  img {
    position: absolute;
    top: 5px;
    left: 0;
  }
  &+.summary-block {
    margin-top: 40px;
  }
}

h1 {

}
h2 {
  font-size: 28px;
  font-weight: 500;
  color: #29333D;
  letter-spacing: 0.16px;
  margin-bottom: 15px;
}
h3 {
  font-size: 18px;
  font-weight: 500;
  color: #29333D;
  letter-spacing: 0.15px;
}
h4 {
  font-size: 15px;
  font-weight: 500;
  color: #29333D;
  letter-spacing: 0.14px;
  margin-bottom: 5px;
}
p {
  margin-bottom: 25px;
}
p.large-bullet {
  font-size: 18px;
  color: #4B4F56;
  letter-spacing: 0.15px;
}
p.large {
  font-size: 18px;
  color: #7A7F88;
  line-height: 30px;
  margin-bottom: 30px;
}
p.small {
  font-size: 13px;
  color: #7A7F88;
  line-height: 20px;
  margin-bottom: 20px;
}
.bullet {
  position: relative;
  top: 2px;
  margin-right: 15px;
}

@include desktop {
  .is-feature-left, .is-feature-right {
    h2 {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  .is-feature-left {
    padding-left: 20px;
    padding-right: 60px;
  }
  .is-feature-right {
    padding-left: 60px;
    padding-right: 20px;
  }
  p.large {
    margin-bottom: 40px;
  }
}
