header#top
  section.hero.is-subpage
    .hero-head
      nav.navbar.navbar-header.is-fixed-top
        .container
          include navbar-brand
          #navMain.navbar-menu
            .navbar-start
              .navbar-item.has-dropdown.is-hoverable
                a.navbar-link What We Do
                .navbar-dropdown
                  a.navbar-item(href='poker-tournaments.html') Poker Tournaments
                  a.navbar-item(href='fundraisers.html') Fundraisers
                  a.navbar-item(href='corporate-parties.html') Corporate Parties
                  a.navbar-item(href='private-parties.html') Private Parties
                  a.navbar-item(href='photo-booth.html') Photo Booth
                  a.navbar-item(href='dj.html') DJ Services
              a.navbar-item(href='photo-booth.html') Photo Booth
              a.navbar-item(href='/gallery') Gallery
              a.navbar-item(href='index.html#about', data-scrollid='about') About Us
              a.navbar-item(href='faq.html') FAQ
              a.navbar-item(href='index.html#contact', data-scrollid='contact') Contact
            include navbar-end
    .hero-background
  // end: header
