block vars
- var appVersion = 23
- var appYear = 2019
- var cssFilepath = 'dist/app.min.css?v=' + appVersion
- var jsFilepath = 'dist/app.min.js?v=' + appVersion
doctype html
html
  head
    block head
      - var titleSuffix = titleSuffix ? titleSuffix : "Las Vegas Casino Parties in NJ NY CT"
    title Wild Willy's Casino Events | #{titleSuffix}
    meta(name="description", content="Las Vegas style casino parties in the NJ NY CT area with professional dealers & tables for all occasions: Poker Tournaments, Fundraisers, Corporate Events")
    meta(name='viewport', content='width=device-width')

    //- google analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-140137798-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-140137798-1');

    //- css
    link(rel='stylesheet', href=cssFilepath, type='text/css', media='all')

    //- js
    script(src=jsFilepath)

    //- favicons
    link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
    link(rel='manifest', href='site.webmanifest')
    link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')

    //- inline js
    script.
      var useScrollTo = false;
      var useGallery = false;
  body.client
    block content
    #backtotop
      a(href='javascript:')
    .mobile-cta
      .call-now CALL NOW
      a.call-now-phone.is-white(href='tel:1-732-690-8324') (732) 690-8324
    footer.footer.layout-footer
      .container
        .columns
          .column.is-2
            ul.nav-footer
              li
                a(href='index.html#top', data-scrollid='top') Home
              li
                a(href='index.html#poker-tournaments', data-scrollid='poker-tournaments') Poker Tournaments
              li
                a(href='index.html#fundraisers', data-scrollid='fundraisers') Fundraisers
              li
                a(href='index.html#corporate-parties', data-scrollid='corporate-parties') Corporate Parties
              li
                a(href='index.html#private-parties', data-scrollid='private-parties') Private Parties
          .column.is-2
            ul.nav-footer
              li
                a(href='gallery.html') Gallery
              li
                a(href='index.html#about', data-scrollid='about') About Us
              li
                a(href='faq.html') FAQ
              li
                a(href='index.html#contact', data-scrollid='contact') Contact Us
          .column.is-3
            .social
              .social-heading-small Follow Us
              .social-icons
                a(href='https://twitter.com/WildWillysParty', target='_blank')
                  img(src='img/icon-twitter.png')
                a(href='https://www.instagram.com/wildwillysparty/', target='_blank')
                  img(src='img/icon-instagram.png')
                a(href='https://www.instagram.com/', target='_blank')
                  img(src='img/icon-facebook.png')
          .column.is-2
            .phone-ask
              .phone.mb-10
                a.is-white(href='tel:1-732-690-8324') (732) 690-8324
          .column.is-3.has-text-centered
            a.button.is-primary(href='index.html#contact', data-scrollid='contact') Get Started

        .copyright.has-text-centered-mobile &copy; #{appYear} Wild Willy's Casino Parties - All Rights Reserved
    script(src='site.js')