.navbar-brand
  a.navbar-item.navbar-logo(href='index.html')
    img(src='img/wildwillys-logo.png', alt="Wild Willy's Casino Events", width='290')
  #burgerMain.navbar-burger.burger(data-target='navMain')
    span
    span
    span