.navbar-end
  .navbar-item
    .phone-ask
      .phone
        a.is-white(href='tel:1-732-690-8324') (732) 690-8324
  .navbar-item
    a.button.is-primary.get-started(href='index.html#contact', data-scrollid='contact') Get Started